In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

ModuleNotFoundError: No module named 'plotly'

In [3]:
df=pd.read_csv('Titanic_Data.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.shape

(891, 12)

In [6]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
#checking if there any missing values
df.isnull().values.any()

True

In [8]:
#summarizing missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
#total number of missing values
df.isnull().sum().sum()

866

In [12]:
#removing missing values 
df.dropna(inplace=True)

In [13]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [14]:
#1. plotting Age dist using histogram
fig = px.histogram(df, x="Age",title="Age distribution using Histogram")
fig.show()

NameError: name 'px' is not defined

In [15]:
#2. plotting Age dist based on gender using histogram
fig = px.histogram(df, x="Age",color='Sex',title="Age distribution based on gender using Histogram")
fig.show()

NameError: name 'px' is not defined

In [16]:
#3. identifing the correlation within the data
corr=df.corr()
corr

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,0.148495,-0.089136,0.030933,-0.083488,-0.051454,0.029740
Survived,0.148495,1.000000,-0.034542,-0.254085,0.106346,0.023582,0.134241
Pclass,-0.089136,-0.034542,1.000000,-0.306514,-0.103592,0.047496,-0.315235
Age,0.030933,-0.254085,-0.306514,1.000000,-0.156162,-0.271271,-0.092424
SibSp,-0.083488,0.106346,-0.103592,-0.156162,1.000000,0.255346,0.286433
Parch,-0.051454,0.023582,0.047496,-0.271271,0.255346,1.000000,0.389740
Fare,0.029740,0.134241,-0.315235,-0.092424,0.286433,0.389740,1.000000

In [17]:
#using matrix plot to represent data
fig = px.imshow(df.corr())
fig.show()

NameError: name 'px' is not defined

In [18]:
#4.pivot table of Pclass as the columns and Fare as the values
df.pivot(columns='Pclass',values='Fare')

Pclass        1   2     3
1       71.2833 NaN   NaN
3       53.1000 NaN   NaN
6       51.8625 NaN   NaN
10          NaN NaN  16.7
11      26.5500 NaN   NaN
..          ...  ..   ...
871     52.5542 NaN   NaN
872      5.0000 NaN   NaN
879     83.1583 NaN   NaN
887     30.0000 NaN   NaN
889     30.0000 NaN   NaN

[183 rows x 3 columns]

In [19]:
# boxplot to show the distribution of the values in its 3 columns
fig = px.box(df, x="Pclass", y="Fare")
fig.show()

NameError: name 'px' is not defined

In [20]:
#5 Graph the value counts of the number of passengers who survived and did not survive based on gender using a stacked bar graph.
df1=df.value_counts(['Survived','Sex'])
df1

Survived  Sex
1         female    82
0         male      54
1         male      41
0         female     6
dtype: int64

In [21]:
Survived=['0','1']
fig = go.Figure(data=[
    go.Bar(name='female', x=Survived, y=[233,81]),
    go.Bar(name='male', x=Survived, y=[468,109])
])
fig.update_layout(barmode='stack')
fig.update_xaxes(title_text='Survived')
fig.update_yaxes(title_text='Value_counts')
fig.update_layout(title_text = "Value counts of the number of passengers who survived and did not survive based on gender")
fig.show()

NameError: name 'go' is not defined

In [22]:
#6 scatter plot of Ages to Fare paid by each passenger based on their gender
fig = px.scatter(df, x="Age", y="Fare", color="Sex",title='scatter plot of Ages to Fare paid by each passenger based on their gender')
fig.show()

NameError: name 'px' is not defined

In [23]:
#7 bubble plot of the ages to the fare paid by each passenger categorizing whether they survived or not
fig = px.scatter(df, x="Age", y="Fare",
                 size="Pclass", color="Survived",
                 hover_name="Name", size_max=40, title=" bubble plot of the ages to the fare paid by each passenger categorizing whether they survived or not")
fig.show()

NameError: name 'px' is not defined